{% extends 'base.html' %}

{% block title %}
    My Collection
{% endblock title %}


{% block content %}
    <h1 class="title">Your Collection.</h1>
    <div class="carousel">
        {% if collections.count %}
            {% for collection in collections %}
                <a href="{% url 'collection_detail' collection.id %}">
                    <div class="carousel-item"  id="carousel-item">
                        <p class="card-content">{{  collection.title }}</p>
                        <p class="card-content">Public : {{ collection.public }}</p>
                        <p class="card-content">{{ collection.body }}</p>
                        <img class="circle" src="{{ collection.image }}" alt="Image">
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <div class="card">
                <p class="carousel-item">No Collection Available.</p>
            </div>
        {% endif %}
    </div>
    <hr>
    <div class="register-page">
        <form action="{% url 'collection_create'  %}" method="post">
            {% csrf_token %} 
                {{ form }}
            <input type="submit" class="btn" value="Create">
        </form>
    </div>
{% endblock content %}


{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.carousel');
            var instances = M.Carousel.init(elems);
        });
    </script>
{% endblock script %}