{% extends 'base.html' %}

{% block title %}
    Explore
{% endblock title %}


{% block content %}
<h1 class="title">Explore Public Collections.</h1>
    <div class="carousel">
        {% if collections.count %}
            {% for collection in collections %}
                <a href="{% url 'explore_comment' collection.id %}">
                        <div class="carousel-item"  id="carousel-item">
                            <p class="card-content">{{  collection.title }}</p>
                            <p class="card-content">Content: {{ collection.body }}</p>
                            <p class="card-content">By: {{ collection.user }}</p>
                            <img class="circle" src="{{ collection.image }}" alt="Image">
                        </div>
                </a>
            {% endfor %}
        {% else %}
            <div class="card">
                <p class="carousel-item">No Collection Available.</p>
            </div>
        {% endif %}
    </div>
    <br>
    <h3>Comments</h3>
    <div class="comment-area">
        {% if comments.count %}
            {% for comment in comments %}
                <article class="comment-card">
                    <p>User: {{ comment.user }}</p>
                    <p>Collection: {{ comment.collection_id }}</p>
                    <div class="comment">
                        <p>Comment: {{ comment.body }}</p>
                    </div>
                </article>
            {% endfor %}
        {% else %}
            <article class="comment-card">No comments....</article>
        {% endif %}
    </div>
{% endblock content %}


{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.carousel');
            var instances = M.Carousel.init(elems);
        });
    </script>
{% endblock script %}