{% extends 'base.html' %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    {% if error %}
        <p>{{ error_message }}</p>
    {% endif %}
    <article class="register-p">
        <h1 class="title">Welcome Back!!</h1>
    </article>
    <div class="register-page">
        <h4>Login to account!</h4>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="btn btn-primary" value="login">
            <input type="hidden" value="{{ next }}" name="next">
        </form>
    </div>
{% endblock content %}