{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Storage Space - {% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
		/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</head>
	<body>
		<header class="header navbar-fixed">
			{% if User.is_authenticated %}
				<nav class="nav show-on-med-and-down">
					<div class="nav-wrapper">
						<ul>
							<li class="nav-link">
								<a href="" class="left brand-logo">&nbsp;&nbsp;StorageSpace</a>
							</li>
						</ul>
						<a class="dropdown-trigger right" href="#" data-target="dropdown1">Menu</a>
						<ul class="dropdown-content" id="dropdown1">
							<li class="nav-link"><a href="">My Collection</a></li>
							<li class="nav-link"><a href="">Explore Collections</a></li>
							<li class="nav-link"><a href="{% url 'profile' %}">Profile</a></li>
								<li class="nav-link"><a href="{% url 'about' %}">about</a></li>
							<li class="nav-link"><a href="">Logout</a></li>
						</ul>
					</div>
				</nav>
				<nav class="nav show-on-large">
					<div class="nav-wrapper">
						<ul>
							<li class="nav-link">
								<a href="" class="left brand-logo">&nbsp;&nbsp;StorageSpace</a>
							</li>
						</ul>
						<ul class="right">
							<li class="nav-link"><a href="">My Collection</a></li>
							<li class="nav-link"><a href="">Explore Collections</a></li>
							<li class="nav-link"><a href="{% url 'profile' %}">Profile</a></li>
								<li class="nav-link"><a href="{% url 'about' %}">about</a></li>
							<li class="nav-link"><a href="">Logout</a></li>
						</ul>
					</div>
				</nav>
			{% else %}
				<nav class="nav show-on-med-and-down">
					<div class="nav-wrapper">
						<ul>
							<li class="nav-link">
								<a href="{% url 'register' %}" class="left brand-logo">&nbsp;&nbsp;StorageSpace</a>
							</li>
						</ul>
						<a class="dropdown-trigger right" href="#" data-target="dropdown1">Menu</a>
						<ul class="dropdown-content" id="dropdown1">
							<li class="nav-link"><a href="">Explore Collections</a></li>
							<li class="nav-link"><a href="{% url 'about' %}">about</a></li>
							<li class="nav-link"><a href="{% url 'login' %}">Login</a></li>
						</ul>
					</div>
				</nav>
				<nav class="nav show-on-large">
					<div class="nav-wrapper">
						<ul>
							<li class="nav-link">
								<a href="{% url 'register' %}" class="left brand-logo">&nbsp;&nbsp;StorageSpace</a>
							</li>
						</ul>
						<ul class="right">
							<li class="nav-link"><a href="">Explore Collections</a></li>
								<li class="nav-link"><a href="{% url 'about' %}">about</a></li>
								<li class="nav-link"><a href="{% url 'login' %}">Login</a></li>
						</ul>
					</div>
				</nav>
			{% endif %}
		</header>
		<main class="container"> {% block content %} {% endblock %} </main>
		<br>
		<footer class="footer page-footer">
			<div class="footer">
				All Rights Reserved, &copy; 2021 StorageSpace &nbsp;
			</div>
		</footer>

		<script>
			document.addEventListener('DOMContentLoaded', ()=>{
				const nav = document.querySelector('dropdown-trigger');
				M.Dropdown.init(nav);
			});
		</script>
	</body>
</html>
