{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Storage Space - {% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
		/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</head>
	<body>
		<header class="header navbar-fixed">
			{% if user.is_authenticated %}
				<nav class="nav">
					<div class="nav-wrapper">
						<ul>
							<li class="nav-link">
								<a href="{% url 'explore' %}" class="left brand-logo">&nbsp;&nbsp;StorageSpace</a>
							</li>
						</ul>
						<a class="dropdown-trigger right" href="" data-target="dropdown1">
							<i class="material-icons">menu</i>
						</a>
						<ul class="dropdown-content" id="dropdown1">
							<li class="nav-link"><a href="{% url 'collection' %}">My Collection</a></li>
							<li class="nav-link"><a href="{% url 'explore' %}">Explore Collections</a></li>
							<li class="nav-link"><a href="{% url 'profile' %}">Profile</a></li>
							<li class="nav-link"><a href="{% url 'about' %}">about</a></li>
							<li class="nav-link"><a href="{% url 'logout' %}">Logout</a></li>
						</ul>
					</div>
				</nav>
			{% else %}
				<nav class="nav">
					<div class="nav-wrapper">
						<ul>
							<li class="nav-link">
								<a href="{% url 'register' %}" class="left brand-logo">&nbsp;&nbsp;StorageSpace</a>
							</li>
						</ul>
						<a class="dropdown-trigger right" href="" data-target="dropdown2">
							<i class="material-icons">menu</i>
						</a>
						<ul class="dropdown-content" id="dropdown2">
							<li class="nav-link"><a href="{% url 'explore' %}">Explore Collections</a></li>
							<li class="nav-link"><a href="{% url 'about' %}">about</a></li>
							<li class="nav-link"><a href="{% url 'login' %}">Login</a></li>
						</ul>
					</div>
				</nav>
			{% endif %}
		</header>

		<main id="main" class="container">
			<section class="left-pillar"></section>
			<section id="center-pillar">
				{% block content %} {% endblock %} 
			</section>
			<section class="right-pillar"></section>
		</main>

		<footer class="footer">
			<div class="footer">
				All Rights Reserved, &copy; 2021 StorageSpace &nbsp;
			</div>
		</footer>

		<script>
			document.addEventListener('DOMContentLoaded', () => {
				var dropdown = document.querySelectorAll('.dropdown-trigger');
				M.Dropdown.init(dropdown);
			});
			{% comment %} window.addEventListener('resize', () => {
				var sizing = document.querySelectorAll(,'.show-on-large','show-on-med-and-down');
				M.Dropdown.init(sizing);
			}); {% endcomment %}
		</script>
			{% block script %}
			
			{% endblock script %}
	</body>
</html>
