body {
	text-align: center;
	width: 100%;
	height: 100vh;
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,0.9248074229691877) 0%, rgba(51,51,56,1) 100%);
	padding: 0;
	margin: 0;
}
footer {
	background-color: cornflowerblue;
	width: 100%;
	position: fixed;
	bottom: 0%;
}
select {
	display: block!important;
}
.nav{
	background-color: cornflowerblue;
}
.register-p {
	padding: .5em;
	font-weight: 400;
	font-size: 2em;
}
.register-form {
	background-color: rgb(219, 213, 204);
	padding: 1em;
	margin: 1em;
}
.register-page {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	width: 80%;
	padding: 1em;
	margin: 3em auto;
	background-color: cornflowerblue;
	color: rgb(0, 0, 0);
	border: black solid 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}
#collection-form {
	background-color: cornflowerblue;
	color: rgb(0, 0, 0);
	border: black solid 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;

}
.profile-form{
	width: fit-content;
	margin: 1em auto;
}
label {
	color: black!important;
	font-size: 1em!important;
}
.helptext {
	color: brown;
}
.dropdown-trigger {
	padding-right: 4em;
}
.dropdown-content {
	width: fit-content;
}
#collection-form {
	border: 2px black solid;
	padding: 4em;
}
.btn {
	margin: 2em;
	background-color: coral;
}
#form1-toggle {
	display: none;	
}
#form2-toggle {
	display: none;	
}
.card {
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,0.9248074229691877) 0%, rgba(51,51,56,1) 100%);
	margin: 2em;
	padding: 2em;
	width: 80%;
	box-sizing: border-box;
}
.circle {
	width: 100%;
}
#detail-page {
	margin: 4em auto;
}
#carousel-item {
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,0.9248074229691877) 0%, rgba(51,51,56,1) 100%);
	padding: 2em;
	box-sizing: border-box;
}
#dropdown1, #dropdown2 {
	width: fit-content;
}
.title, .intro-msg {
	background: rgb(131,131,133);
	background: linear-gradient(270deg, rgba(131,131,133,0.8239670868347339) 0%, rgba(97,94,94,0.9023984593837535) 51%, rgba(143,143,143,0.8071603641456583) 100%);
	padding: .5em;
	color: aliceblue;
}
.about-title {
	margin-top: 12em;
	color: black;
}
.comment-area {
	background-image: url('https://c4.wallpaperflare.com/wallpaper/417/673/89/black-texture-background-wallpaper-preview.jpg');
	height: 40vh;
	color: rgb(255, 255, 255);
	margin-bottom: 3em;
	border-top: cornflowerblue solid 5px;
}
#main {
	width: max-content;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	padding: 0;
}
.left-pillar {
	height: 100vh;
	background-color: black;
}

.right-pillar {
	height: 100vh;
	background-color: black;
}
.center-pillar {
	flex-grow: 4;
}