body {
	text-align: center;
	width: 90%;
	height: 100vh;
	background-image: url(https://c4.wallpaperflare.com/wallpaper/442/14/493/abstract-texture-pattern-design-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-attachment: fixed;
}
footer {
	background-color: cornflowerblue;
	width: 100%;
	position: fixed;
	bottom: 0%;
}
select {
	display: block!important;
}
.nav{
	background-color: cornflowerblue;
}
.register-p {
	padding: .5em;
	font-weight: 400;
	font-size: 2em;
}
.register-form {
	background-color: rgb(219, 213, 204);
	padding: 1em;
	margin: 1em;
}
.register-page {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	width: 80%;
	padding: 1em;
	margin: 3em auto;
	background-color: cornflowerblue;
	color: rgb(0, 0, 0);
	border: black solid 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}
#collection-form {
	background-color: cornflowerblue;
	color: rgb(0, 0, 0);
	border: black solid 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;

}
.profile-form{
	width: fit-content;
	margin: 1em auto;
}
label {
	color: black!important;
	font-size: 1em!important;
}
.helptext {
	color: brown;
}
.dropdown-trigger {
	padding-right: 4em;
}
.dropdown-content {
	width: fit-content;
}
#collection-form {
	border: 2px black solid;
	padding: 4em;
}
.btn {
	margin: 2em;
	background-color: coral;
}
#form1-toggle {
	display: none;	
}
#form2-toggle {
	display: none;	
}
.card {
	background-color: rgba(255, 255, 255, 0.824);
	margin: 2em;
	padding: 2em;
	width: 80%;
	box-sizing: border-box;
}
.circle {
	width: 100%;
}
#detail-page {
	margin: 4em auto;
}
#carousel-item {
	background-color: rgb(255, 255, 255);
	
}
#dropdown1, #dropdown2 {
	width: fit-content;
}
.title, .intro-msg {
	background-color: rgba(240, 248, 255, 0.769);
	padding: 2em;
}
.about-title {
	margin-top: 12em;
}
.comment-area {
	background-image: url('https://c4.wallpaperflare.com/wallpaper/417/673/89/black-texture-background-wallpaper-preview.jpg');
	height: 40vh;
	color: rgb(255, 255, 255);
	margin-bottom: 3em;
}
#main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.left-pillar {
	width: 20%;
	height: 100vh;
	background-color: black;
}

.rigth-pillar {
	width: 10%;
	height: 100vh;
	background-color: black;
}